/* GLOBAL */

@font-face {
    font-family: 'Druk Wide Bold Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Druk Wide Bold Bold'), url('../fonts/DrukWideBold.woff') format('woff');
}

body {
    background-color: #202020;
    color: #fff;
    font-family: "Montserrat", sans-serif!important;
}

.container {
    max-width: 1440px;
    margin: auto;
}

/* HEADER */

.header {
    border-bottom: 1px solid #fff;
    padding: 20px 0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Druk Wide Bold Bold';
}

.nav-content {
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 10px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-link {
    margin: 0 10px;
}

/* HERO HOME */

.herohome {
    background-image: url("grid.svg");
    height: 96vh;
    border-bottom: 1px solid #fff;
}

.herohome-content {
    display: flex;
    justify-content: center;
    height: 55vh;
    align-items: center;
}

.herohome-title {
    font-family: 'Druk Wide Bold Bold';
    font-size: 80px;
    text-align: center;
}

/* Slider */

.wrapper {
  margin-inline: auto;
  position: relative;
  height: 100px;
  padding-bottom: 100px;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -350px;
  }
}

.item {
  width: 350px;
  height: 100px;
  border: 1px solid #fff;
  border-radius: 6px;
  position: absolute;
  left: max(calc(350px * 7), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  font-family: 'Druk Wide Bold Bold';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.item1 {
  animation-delay: calc(30s / 7 * (7 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 7 * (7 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 7 * (7 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 7 * (7 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 7 * (7 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 7 * (7 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 7 * (7 - 7) * -1);
}

/* ABOUT */

.about {
    margin: 100px 0;
    border-bottom: 1px solid #fff;
    padding-bottom: 100px;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-section {
    font-family: 'Druk Wide Bold Bold';
    font-size: 60px;
}

.about-left {
    width: 50%;
}

.about-right {
    width: 70%;
    font-size: 18px;
    line-height: 25px;
}

/* WORK */

.project-section {
    margin-bottom: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid #fff;
}

.section-title {
    font-size: 50px;
    font-family: 'Druk Wide Bold Bold';
    margin-bottom: 50px;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-card {
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #fff;
    padding: 20px 0;
}

.project-card:last-child {
    border-bottom: 1px solid #fff;
}


.number-card {
    margin-left: 50px;
    font-family: 'Druk Wide Bold Bold';
    font-size: 40px;

}

.project-info {
    padding: 20px;
}

.project-title {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Druk Wide Bold Bold';
}

  
.project-description {
    font-size: 1rem;
    color: #666;
    margin: 10px 0;
}

  
.project-image {
    width: 200px;
    height: auto;
    object-fit: cover;
    margin-right: 50px;
}

/* CONTACT */

.contact {
    padding-bottom: 100px;
    border-bottom: 1px solid #fff;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-left {
    font-family: 'Druk Wide Bold Bold';
    font-size: 60px;
    text-transform: uppercase;
}

.contact-right {
    border: 1px solid #fff;
    padding: 40px;
    border-radius: 25px;
}

/* FOOTER */

.footer {
    margin-top: 100px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-logo-heading {
    font-family: 'Druk Wide Bold Bold';
    font-size: 20px;
}

.footer-nav-title {
    font-family: 'Druk Wide Bold Bold';
    font-size: 20px;
    margin-bottom: 20px;
}

.footer-nav-item {
    padding-bottom: 10px;
}

.copyright {
    margin-top: 20px;
    text-align: center;
}

/* WORK DETAILS */

.works-details {
    margin-top: 100px;
}